<%- include('partials/header') -%> <% if (locals.isAuthenticated) { %> <% if
(locals.isAdmin) { %>
<div class="container">
  <table>
    <tr>
      <th>Chat ID</th>
      <th>Name</th>
      <th>username</th>
      <th>Last Location</th>
      <th>block / unblock</th>
      <th>Delete user</th>
    </tr>
    <% locals.result.forEach(element => { %>
    <tr>
      <td><%= element.chatId%></td>
      <td><%= element.name%></td>
      <td><%= element.username%></td>
      <td><%= element.location %></td>
      <td>
        <% if (element.blocked) { %>
        <button
          onclick="unBlockUser('<%= element.chatId %>')"
          style="background-color: rgba(9, 102, 9, 0.877)"
        >
          Unblock
        </button>
        <% } else { %>
        <button onclick="blockUser('<%= element.chatId %>')">Block</button>
        <% } %>
      </td>
      <td>
        <button onclick="deleteUser('<%= element.chatId %>')">Delete</button>
      </td>
    </tr>
    <% }); %>
  </table>
</div>
<% } else { %>
<button>Request Admin Access</button>
<% } %>
<!-- <p>
  You are logged in. <a href="/profile" class="underline">View your profile</a>.
</p> -->
<% } else { %>
<p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>
<% } %> <%- include('partials/script') %> <%- include('partials/footer') -%>
