<%- include('partials/header') -%>

<h1 class="text-4xl mb-4">Welcome <%= user.given_name %></h1>

<% if (user.picture) { %>
<img class="block py-3 px-3" src="<%= user.picture %>" width="300" />
<% } %>

<p class="py-3">
  This is the content of <code >req.user</code>.<br />
  <strong>Note:</strong> <code >_raw</code> and
  <code>_json</code> properties have been omitted.
</p>

<pre class="block bg-gray-300 p-4 text-sm overflow-scroll">
<%= userProfile %></pre
>

<%- include('partials/footer') -%>
