<%- include('partials/header') -%> <% if (locals.isAuthenticated) { %> <%
if(locals.isAdmin) { %>
<div class="container">
  <% if(locals.adminRequests.length){%>
  <h1 class="text-4xl mb-4" style="text-align: center">
    Requests For Admin Access
  </h1>
  <div>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Time</th>
        <th>accept</th>
        <th>reject</th>
      </tr>
      <% locals.adminRequests.forEach(element => { %>
      <tr>
        <td><%= element.name%></td>
        <td><%= element.email%></td>
        <td><%= element.updatedAt%></td>
        <td>
          <button
            style="background-color: rgba(9, 102, 9, 0.877)"
            onclick="makeAdmin('<%= element.email %>')"
          >
            Accept
          </button>
        </td>
        <td>
          <button onclick="requestAdminAccess('<%= element.email %>',false)">
            Reject
          </button>
        </td>
      </tr>
      <% }); %>
    </table>
  </div>
  <%}else{%>
  <h1 class="text-4xl mb-4" style="text-align: center">
    No Requests Pending
  </h1>
  <h1 class="text-4xl mb-4" style="text-align: center">
    😄😄😄😄😄
  </h1>
  <%}%>
</div>
<% } else { %>
<p>You are not an Admin</p>
<% } } else { %>
<p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>
<% } %> <%- include('partials/script') %> <%- include('partials/footer') -%>
